
<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container-fluid">
      <img src="../assets/Medium-logo-2015.png" alt="" id="nav-img">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:right">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/booklistmember">EXPLORE</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/rentallist">RENTALS</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/customerlist">CUSTOMERS</a>
          </li> 
        </ul>
  
        <ul class="navbar-nav me-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/report">NEW !</a>
          </li>        
          <li class="nav-item" style="float: right;">
            <a class="nav-link active" aria-current="page" href="#" >LOGOUT</a>
          </li>
        </ul>
       
  
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form> -->
  
      </div>
    </div>
  </nav>
  <br>

<!-- Template driven form -->
<form name="userform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

    <!-- User Id (Hidden)-->
    <input type = "hidden" name="CId" [(ngModel)]="userService.formData.CId">

    <!-- User Name -->
    <div class="form-group">
        <label>  Full Name : </label>
        <input type="text" name="Name"
        #Name="ngModel"
        [(ngModel)]="userService.formData.Name"
        class="form-control"
        placeholder="Enter Full Name"
        required minlength="3"
        [ngClass]="{'is-invalid':Name.touched && Name.invalid}"/>
        <!-- Validation -->
        <div class="validation-error" *ngIf="Name.touched && Name.invalid">
            <div *ngIf="Name.errors.required">
                First Name is required
            </div>
        </div>
    </div>

    
    <!-- Password-->
    <div class="form-group">
        <label>  Password : </label>
        <input type="password" name="Pass"
        #Pass="ngModel"
        [(ngModel)]="userService.formData.Pass"
        class="form-control"
        placeholder="Enter Password"
        required minlength="3"
        [ngClass]="{'is-invalid':Pass.touched && Pass.invalid}"/>
        <!-- Validation -->
        <div class="validation-error" *ngIf="Pass.touched && Pass.invalid">
            <div *ngIf="Pass.errors.required">
                Password is required
            </div>
        </div>
    </div>

    <!-- submit -->
    <br>
    <div class="form-group">
        <button type="form-group"
        class="btn btn-lg btn-primary form-control"
        [disabled]="!(form.valid && form.dirty)"
        >Submit</button>
    </div>
</form>